{% extends "template.html" %}
{% block content %}

  <header id="hero" class="hero">
    <div class="flex-container w-container">
      <div>
        <h1>Add an expense</h1>
        <a href="{{ url_for('addExpenses') }}" class="button-8 w-button">Add an Expense</a>
      </div>
    </div>
  </header>
<section id="feature-section" class="feature-section">
    <div class="flex-container w-container">
      <div>
        <h2>Track your expenses</h2>
        <p>In total you have spent ${{ expenses }}</p>

        <h2>By category</h2>
        {% for tuple in expensesByCategory %}
          <strong>{{tuple[0].capitalize()}}: </strong>
          <p>${{tuple[1]}}</p>
        {% endfor %}
      </div>
    </div>
  </section>

{% endblock %}
